.App {
  text-align: center;
  
}

h1 {
  font-family: cursive;
  color: teal;
  border: 2px solid teal;
}

.divBtn {
  display: flex;
  justify-content: space-around;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn1 {
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  color: mistyrose;
  background-color: teal;
  border: none;
  margin-left: 50px;
  font-size: 18px;
  font-family: cursive;
}
.btn1:hover {
  background-color: rgba(16, 236, 163, 0.644); 
}

.btn {
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
  color: mistyrose;
  background-color: rgb(3, 146, 146);
  border: none;
  margin-left: 50px;
  font-size: 18px;
  font-family: cursive;
}
.btn:hover {
  background-color: rgba(16, 236, 163, 0.644);
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}